.about-carousel {
  position: relative;
  width: 100%;

  .rec.rec-arrow {
    background-color: transparent;
    outline: none;
    display: none;
  }

  @media (min-width: 1000px) {
    .kvrXoZ, .kMdHzN {
      position: absolute;
      bottom: 0;
      left: 25%;
      z-index: 9;
    }
  }

  .rec-carousel-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    top: 98% !important;
    left: 15% !important;
  }

  .rec-dot {
    box-shadow: 0 0 1px 3px rgba(142, 142, 142, 0) !important;
    width: 11px;
    height: 11px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 99;
  }

  .rec-dot_active {
    background-color: var(--black);
    box-shadow: 0 0 1px 2px var(--black) !important;
  }
}
