.wpsay-container {
  position: relative;

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 10;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }

  .swiper-button-prev {
    left: 80%;
    padding-left: 20px;
    background-image: url(../../assets/whiteArrowPrev.svg);
    background-repeat: no-repeat;
  }

  .swiper-button-next {
    right: 6.5%;
    padding-right: 20px;
    background-image: url(../../assets/whiteArrowNext.svg);
    background-repeat: no-repeat;
  }

  @media (max-width: 1550px) {
    .swiper-button-prev {
      left: 78%;
    }
  }

  @media (max-width: 1410px) {
    .swiper-button-prev {
      left: 75%;
    }
  }

  @media (max-width: 1218px) {
    .swiper-button-prev {
      left: 70%;
    }
  }

  @media (max-width: 1000px) {
    .swiper-button-prev {
      left: 75%;
    }
  }

  @media (max-width: 625px) {
    .swiper-button-prev {
      left: 70% !important;
    }
  }

  @media (max-width: 493px) {
    .swiper-button-prev {
      left: 65% !important;
    }
  }

  @media (max-width: 387px) {
    .swiper-button-prev {
      left: 60% !important;
    }
  }

  .wpsay-title {
    font-family: var(--font-family1);
    color: var(--black);
    font-size: clamp(2.5rem, 2.4528rem + 1.8519vw, 4.375rem);
    text-align: center;
  }

  .wpsay-content {
    background-image: url(../../assets/background-WPSay.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    padding: 50px 0px;

    .wpsay-content-title {
      font-family: var(--font-family1);
      color: var(--white);
      opacity: 0.5;
      text-align: center;

      h1 {
        font-size: clamp(3.5625rem, -0.3438rem + 12.5vw, 6.6875rem);
      }
    }
  }

  .wpsay-second {
    width: 47%;
    @media (max-width: 1000px) {
      width: 90%;
      height: 90%;
    }
  }
}
