.partnerships-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  h1 {
    font-family: var(--font-family1);
    font-size: clamp(2.5rem, 1.8056rem + 3.7037vw, 6.25rem);
    color: var(--black);
    margin-bottom: 5rem;
  }

  .partnerships-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1000px) {
      flex-direction: column;
      text-align: center;

      button {
        margin: 0 auto;
      }

      .partnerships-second {
        width: 80% !important;
        img {
          width: 100%;
        }
      }
    }

    .partnerships-first {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 50%;

      .partnerships-first-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        @media (max-width: 1000px) {
          margin: 0 auto;
        }

        h2 {
          font-family: var(--font-family2);
          color: var(--black);
          font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
          font-weight: 500;
        }
      }

      p {
        font-family: var(--font-family2);
        color: var(--black);
        font-size: clamp(0.6875rem, 0.2969rem + 1.25vw, 1rem);
        @media (mix-width: 1000px) {
          width: 70%;
        }
      }

      button {
        background-color: var(--black);
        color: var(--white);
        font-size: clamp(0.6rem, 0.5444rem + 0.2963vw, 0.9rem);
        font-family: var(--font-family2);
        border: none;
        outline: none;
        padding: 10px 30px;
        border-radius: 5px;
        transition: 300ms;
        cursor: pointer;
        display: block;
        margin-bottom: 5rem;

        &:hover {
          opacity: 0.9;
        }
        @media (max-width: 1000px) {
          padding: 10px 30px;
        }

        @media (max-width: 466px) {
          padding: 8px 20px;
        }
      }
    }

    .partnerships-second {
      margin: 0 !important;
      padding: 0 !important;
      width: 40%;
      img {
        width: 80%;
        @media (max-width: 900px) {
          width: 100%;
        }
      }
    }
  }
}
