.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 999 !important;

  &.scrolled {
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .navbar-logo-container h2 {
      color: var(--black);
    }

    .navbar-links-container li {
      color: var(--black);
    }

    .navbar-buttons-container button {
      color: var(--black);
    }

    .primary {
      background-color: var(--black) !important;
      color: var(--white) !important;
    }

    .logo-icon {
      filter: invert(0%) sepia(1%) saturate(6357%) hue-rotate(346deg)
        brightness(98%) contrast(77%) !important;
    }

    .navbar-menu-icon {
      color: var(--black);
    }
  }

  .navbar-logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family1);
    font-size: clamp(1.125rem, 1.0847rem + 0.1377vw, 1.25rem);
    color: var(--white);
    .logo-icon {
      filter: invert(100%) sepia(92%) saturate(0%) hue-rotate(206deg)
        brightness(109%) contrast(108%);
    }

    @media (max-width: 298px) {
      h2 {
        display: none;
      }
    }
  }

  .navbar-links-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    list-style: none;

    @media (max-width: 1388px) {
      & {
        gap: 2rem;
      }
    }

    @media (max-width: 1159px) {
      & {
        gap: 1rem;
      }
    }

    @media (max-width: 1144px) {
      & {
        gap: 1rem;
      }
    }

    li {
      display: flex;
      align-items: center;
      gap: 15px;
      font-family: var(--font-family2);
      font-weight: 500;
      font-size: clamp(0.5rem, 0.4588rem + 0.551vw, 1rem);
      cursor: pointer;
      color: var(--white);
      padding: 20px 0px;
    }
  }

  .navbar-buttons-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;

    button {
      outline: none;
      border: none;
      padding: 15px 25px;
      border-radius: 25px;
      font-family: var(--font-family2);
      background-color: transparent;
      font-weight: 500;
      font-size: clamp(0.5rem, 0.4588rem + 0.551vw, 1rem);
      cursor: pointer;
      transition: 300ms;
      color: var(--white);

      &:hover {
        opacity: 0.9;
      }
    }

    .primary {
      background-color: var(--white);
      color: var(--black);
    }

    @media (max-width: 1177px) {
      button {
        padding: 10px 20px;
      }
    }
  }

  .navbar-menu-icon {
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    display: none;
    margin-right: 50px;

    @media (max-width: 929px) {
      & {
        margin-right: 50px;
      }
    }
  }

  @media (max-width: 1000px) {
    .navbar-links-container {
      display: none;
    }

    .navbar-buttons-container {
      display: none;
    }

    .navbar-menu-icon {
      display: flex;
    }
  }
}

@media (max-width: 298px) {
  .navbar-menu-icon {
    margin-right: 0 !important;
  }
  .navbar-container {
    padding: 10px 0;
  }
}
.megamenu-containerHover {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  display: none;
  z-index: 100; 
}

.navbarHover:hover .megamenu-containerHover {
  display: block;
}





