.partners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem;
  gap: 3rem;

  h4 {
    font-family: var(--font-family2);
    color: var(--black);
    font-weight: 500;
  }

  .partners-image-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .partners-slide {
    display: flex;
    width: 100%;
    animation: slide 20s linear infinite;
    gap: 60px;
  }

  .partners-slide img {
    width: 50% !important;
  }

  @media (max-width: 1000px) {
    .partners-slide {
      animation: slide 5s linear infinite !important;
    }
  }

  @media (max-width: 1542px) {
    .partners-slide img {
      width: 50%;
    }
  }

  @media (max-width: 1098px) {
    .partners-slide img {
      width: 50% !important;
    }
  }

  @media (max-width: 1082px) {
    .partners-slide img {
      width: 50% !important;
    }
  }

  

  @media (max-width: 1071px) {
    .partners-slide img {
      width: 50%;
    }
  }

  

  @media (max-width: 775px) {
    .partners-slide img {
      width: 50% !important;
    }
  }

  @media (max-width: 657px) {
    .partners-slide img {
      width: 50% !important;
    }
  }

  @media (max-width: 958px) {
    .partners-slide img {
      width: 50% !important;
    }
  }

  @media (max-width: 812px) {
    .partners-slide img {
      width: 50% !important;
    }
  }

  @media (max-width: 1000px) {
    .partners-slide {
      animation: slide 10s linear infinite;
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  button {
    background-color: var(--black);
    color: var(--white);
    font-size: clamp(0.6rem, 0.5444rem + 0.2963vw, 0.9rem);
    font-family: var(--font-family2);
    border: none;
    outline: none;
    padding: 15px 40px;
    border-radius: 5px;
    transition: 300ms;
    cursor: pointer;
    margin: 0 auto;
    margin: 20px auto 0;
    display: block;

    &:hover {
      opacity: 0.9;
    }
    @media (max-width: 1000px) {
      padding: 10px 30px;
    }

    @media (max-width: 466px) {
      padding: 8px 20px;
    }
  }
}
